<?xml version="1.0" encoding="UTF-8"?>
<events xmlns="http://canvas.instructure.com/xsd/cccv1p0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://canvas.instructure.com/xsd/cccv1p0 https://canvas.instructure.com/xsd/cccv1p0.xsd">
  <event identifier="g4f96610c180f8afac46bcaebdbc131cf">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-07T17:00:00</start_at>
    <end_at>2026-02-07T19:00:00</end_at>
  </event>
  <event identifier="g43d4c4ca35825b695df65306273ffd3c">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-16T18:00:00</start_at>
    <end_at>2026-01-16T19:00:00</end_at>
  </event>
  <event identifier="gf5507669ab23b1ee92b83387e590287c">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-06T18:00:00</start_at>
    <end_at>2026-02-06T19:00:00</end_at>
  </event>
  <event identifier="g2c7bd4a77461428b98206742b852a900">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-25T16:00:00</start_at>
    <end_at>2026-04-25T19:20:00</end_at>
  </event>
  <event identifier="g1986ef0676581bab7ab3a898b2880b0c">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-23T18:00:00</start_at>
    <end_at>2026-01-23T19:00:00</end_at>
  </event>
  <event identifier="g2e61087a1bbd339586db565e4a8322d5">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-07T17:00:00</start_at>
    <end_at>2026-03-07T20:20:00</end_at>
  </event>
  <event identifier="g5e71a98cedcb7fa24862892d47297e5a">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-24T17:00:00</start_at>
    <end_at>2026-04-24T18:00:00</end_at>
  </event>
  <event identifier="g2df867a6fa9c13274b1da2ed3e06bcbb">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-27T18:00:00</start_at>
    <end_at>2026-02-27T19:00:00</end_at>
  </event>
  <event identifier="g416b28736c6b9a3a351ca5e70c4ae121">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-04T16:00:00</start_at>
    <end_at>2026-04-04T18:00:00</end_at>
  </event>
  <event identifier="g1458f4a905e33d370b6e4843e6d25146">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-11T16:00:00</start_at>
    <end_at>2026-04-11T19:20:00</end_at>
  </event>
  <event identifier="g2a01f87769c3c1b6eeaf7b1a41f7aecd">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-21T17:00:00</start_at>
    <end_at>2026-02-21T20:20:00</end_at>
  </event>
  <event identifier="g77895f2e9ee5badce95ca46e03adb8a0">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-10T17:00:00</start_at>
    <end_at>2026-04-10T18:00:00</end_at>
  </event>
  <event identifier="g2181ea16e7f9ad5725879aea3c958b0e">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-17T17:00:00</start_at>
    <end_at>2026-04-17T18:00:00</end_at>
  </event>
  <event identifier="g70313cb0450cd31eabf0f5d074e0a556">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-10T17:00:00</start_at>
    <end_at>2026-01-10T20:20:00</end_at>
  </event>
  <event identifier="g954134c6ed488b22449eb8f421841166">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-06T18:00:00</start_at>
    <end_at>2026-03-06T19:00:00</end_at>
  </event>
  <event identifier="ga687b7f402477ef97f0438d19b6b2915">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-07T17:00:00</start_at>
    <end_at>2026-03-07T19:00:00</end_at>
  </event>
  <event identifier="g59b050a1ab00fdfc78788e377cd5910b">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-07T17:00:00</start_at>
    <end_at>2026-02-07T20:20:00</end_at>
  </event>
  <event identifier="g9fc0bc32552fc627f9f2c0cb685de6a0">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-14T16:00:00</start_at>
    <end_at>2026-03-14T18:00:00</end_at>
  </event>
  <event identifier="g5ef56fe655e24abe89181d58a72524ec">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-11T16:00:00</start_at>
    <end_at>2026-04-11T18:00:00</end_at>
  </event>
  <event identifier="g18f1cb265f188d4f64cc5cf7b234f22e">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-31T17:00:00</start_at>
    <end_at>2026-01-31T19:00:00</end_at>
  </event>
  <event identifier="g8cfdcb206cb3b66d80bbf05ce751733d">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-18T16:00:00</start_at>
    <end_at>2026-04-18T19:20:00</end_at>
  </event>
  <event identifier="g44ec4e37da272710eb2ed52807001af1">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-28T16:00:00</start_at>
    <end_at>2026-03-28T19:20:00</end_at>
  </event>
  <event identifier="gc6f1088c716f21e1dc427154a4aa117c">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-03T17:00:00</start_at>
    <end_at>2026-04-03T18:00:00</end_at>
  </event>
  <event identifier="gadcca33fd31ce4e439ac177c8e93c4fb">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-21T17:00:00</start_at>
    <end_at>2026-02-21T19:00:00</end_at>
  </event>
  <event identifier="g2c525f1a86211bf287930b9e2ee35976">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-21T16:00:00</start_at>
    <end_at>2026-03-21T19:20:00</end_at>
  </event>
  <event identifier="g33cb21f5c60de78e1280d12d7a908854">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-24T17:00:00</start_at>
    <end_at>2026-01-24T20:20:00</end_at>
  </event>
  <event identifier="gffcc0e2fdb4f5316818665eb294be9e5">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-28T17:00:00</start_at>
    <end_at>2026-02-28T20:20:00</end_at>
  </event>
  <event identifier="gd7e1c1c40bec5235976005d227775a26">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-28T16:00:00</start_at>
    <end_at>2026-03-28T18:00:00</end_at>
  </event>
  <event identifier="gce55e98751cfeff877f4dd6ffef012c1">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-20T17:00:00</start_at>
    <end_at>2026-03-20T18:00:00</end_at>
  </event>
  <event identifier="g0d922ab73e7cda40ab5570d85e14bd22">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-24T17:00:00</start_at>
    <end_at>2026-01-24T19:00:00</end_at>
  </event>
  <event identifier="gc656cc5638f57fd9017266248f13fa4f">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-14T17:00:00</start_at>
    <end_at>2026-02-14T19:00:00</end_at>
  </event>
  <event identifier="g5fe0414375e90cd180de53bf4f2db855">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-28T17:00:00</start_at>
    <end_at>2026-02-28T19:00:00</end_at>
  </event>
  <event identifier="g94c0d4121d96d734c3ed208768f66a1c">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-21T16:00:00</start_at>
    <end_at>2026-03-21T18:00:00</end_at>
  </event>
  <event identifier="g685e2fb91c7b3630dcddf001bcbf8487">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-14T16:00:00</start_at>
    <end_at>2026-03-14T19:20:00</end_at>
  </event>
  <event identifier="gb130a25bb2abffc1eeb67cb57846569f">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-20T18:00:00</start_at>
    <end_at>2026-02-20T19:00:00</end_at>
  </event>
  <event identifier="g67a681e828cef2e5054eef81e93fefa9">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-30T18:00:00</start_at>
    <end_at>2026-01-30T19:00:00</end_at>
  </event>
  <event identifier="gd507ca47767cff299d6419652e533ff8">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-13T17:00:00</start_at>
    <end_at>2026-03-13T18:00:00</end_at>
  </event>
  <event identifier="gdbac6a1c49b5d6dcf515d4aa69bc2ad1">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-17T17:00:00</start_at>
    <end_at>2026-01-17T19:00:00</end_at>
  </event>
  <event identifier="g3b34e9b9f5469a2e08c748081328f28c">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-04T16:00:00</start_at>
    <end_at>2026-04-04T19:20:00</end_at>
  </event>
  <event identifier="g04bbf59266f42c47a42c743fd90429c0">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-31T17:00:00</start_at>
    <end_at>2026-01-31T20:20:00</end_at>
  </event>
  <event identifier="gaafe17be1bd2f996f5595b87d2bface2">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-13T18:00:00</start_at>
    <end_at>2026-02-13T19:00:00</end_at>
  </event>
  <event identifier="g3d5c54533500ae8c954fe67aa7c8fba4">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-17T17:00:00</start_at>
    <end_at>2026-01-17T20:20:00</end_at>
  </event>
  <event identifier="g785f1880c324ec0bd1abecf5eef17bc3">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-14T17:00:00</start_at>
    <end_at>2026-02-14T20:20:00</end_at>
  </event>
  <event identifier="g7cb3d8456eafc50edb7ccb25d715f936">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-27T17:00:00</start_at>
    <end_at>2026-03-27T18:00:00</end_at>
  </event>
</events>
