<?xml version="1.0" encoding="UTF-8"?>
<context_info xmlns="http://canvas.instructure.com/xsd/cccv1p0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://canvas.instructure.com/xsd/cccv1p0 https://canvas.instructure.com/xsd/cccv1p0.xsd">
  <course_id>254064</course_id>
  <course_name>INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</course_name>
  <root_account_id>145230000000000001</root_account_id>
  <root_account_name>Northeastern University</root_account_name>
  <root_account_uuid>TlmmuJDJi06PmWbkhU736yDfZI3udCLXgBmneTIp</root_account_uuid>
  <canvas_domain>northeastern.instructure.com</canvas_domain>
</context_info>
