<?xml version="1.0" encoding="UTF-8"?>
<events xmlns="http://canvas.instructure.com/xsd/cccv1p0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://canvas.instructure.com/xsd/cccv1p0 https://canvas.instructure.com/xsd/cccv1p0.xsd">
  <event identifier="ge8f0964f0b9f2c9f6271ab7bc1a79d0d">
    <title>INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92584569293" target="_blank"&gt;Click here to join Zoom Meeting: 925 8456 9293&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-04T17:00:00</start_at>
    <end_at>2026-04-04T20:00:00</end_at>
  </event>
  <event identifier="g773c579f9aa760afdc77af1181ddde41">
    <title>INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92584569293" target="_blank"&gt;Click here to join Zoom Meeting: 925 8456 9293&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-05T17:00:00</start_at>
    <end_at>2026-04-05T20:00:00</end_at>
  </event>
  <event identifier="ge3c765f0627236dce1de04192b95c379">
    <title>INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92584569293" target="_blank"&gt;Click here to join Zoom Meeting: 925 8456 9293&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-06T17:00:00</start_at>
    <end_at>2026-04-06T20:00:00</end_at>
  </event>
  <event identifier="g5a594260f521e2d2423d3be377567d1f">
    <title>INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92584569293" target="_blank"&gt;Click here to join Zoom Meeting: 925 8456 9293&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-07T17:00:00</start_at>
    <end_at>2026-04-07T20:00:00</end_at>
  </event>
  <event identifier="gf4614fbe9c6ba67a16d4b68c797ab775">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-14T16:00:00</start_at>
    <end_at>2026-03-14T18:00:00</end_at>
  </event>
  <event identifier="g6fd995f7b5df8a890c2914cfb76645ed">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-31T17:00:00</start_at>
    <end_at>2026-01-31T19:00:00</end_at>
  </event>
  <event identifier="g5f02c184da5663a227c693c157015f85">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-28T16:00:00</start_at>
    <end_at>2026-03-28T19:20:00</end_at>
  </event>
  <event identifier="g2049c33fef85496b178ac842c15dcaef">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-21T17:00:00</start_at>
    <end_at>2026-02-21T19:00:00</end_at>
  </event>
  <event identifier="gd8722d392085184b65327285b0b981dc">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-21T16:00:00</start_at>
    <end_at>2026-03-21T19:20:00</end_at>
  </event>
  <event identifier="gb529e4af8c3fa64668b38f4b860778fd">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-05-16T16:00:00</start_at>
    <end_at>2026-05-16T19:20:00</end_at>
  </event>
  <event identifier="gf3f88b19ab6fc2c76dec4670fb66d1fb">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-28T17:00:00</start_at>
    <end_at>2026-02-28T20:20:00</end_at>
  </event>
  <event identifier="g96d034282661665fd07d1c231e29866b">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-28T16:00:00</start_at>
    <end_at>2026-03-28T18:00:00</end_at>
  </event>
  <event identifier="ged063653810da37387eb542facece2b9">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-20T17:00:00</start_at>
    <end_at>2026-03-20T18:00:00</end_at>
  </event>
  <event identifier="g3d215a4b4bb1696f386778359d068fc2">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-24T17:00:00</start_at>
    <end_at>2026-01-24T19:00:00</end_at>
  </event>
  <event identifier="gc25a5f42f49bde8fae3e0186239473b2">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-28T17:00:00</start_at>
    <end_at>2026-02-28T19:00:00</end_at>
  </event>
  <event identifier="g32bec8aede0b31f39b8f2b44f7046b1f">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-05-15T17:00:00</start_at>
    <end_at>2026-05-15T18:00:00</end_at>
  </event>
  <event identifier="g7ce6b69bfbdb2981bbf3e61a5596f945">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-21T16:00:00</start_at>
    <end_at>2026-03-21T18:00:00</end_at>
  </event>
  <event identifier="g2989bc9af4a9c152e98f825128f62096">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-05-08T17:00:00</start_at>
    <end_at>2026-05-08T18:00:00</end_at>
  </event>
  <event identifier="g0b062b53dfb934d96e33f1773bb60c82">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-13T17:00:00</start_at>
    <end_at>2026-03-13T18:00:00</end_at>
  </event>
  <event identifier="g12bf69e5e141c78bbbea66f300856907">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-11T16:00:00</start_at>
    <end_at>2026-04-11T18:00:00</end_at>
  </event>
  <event identifier="gc427bb20c96165f9041b8d0b611abf36">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-18T16:00:00</start_at>
    <end_at>2026-04-18T19:20:00</end_at>
  </event>
  <event identifier="gd28c27e50b62e5b91e95a0a85303f4de">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-03T17:00:00</start_at>
    <end_at>2026-04-03T18:00:00</end_at>
  </event>
  <event identifier="g4b75930152b2ad4a53008ae656d7dbd5">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-24T17:00:00</start_at>
    <end_at>2026-01-24T20:20:00</end_at>
  </event>
  <event identifier="g071d84b45148ac2089fac48c3228d0f5">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-14T17:00:00</start_at>
    <end_at>2026-02-14T19:00:00</end_at>
  </event>
  <event identifier="gcdf59490c99933b385b7c70181d263ec">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-05-02T16:00:00</start_at>
    <end_at>2026-05-02T19:20:00</end_at>
  </event>
  <event identifier="g12747336d0ce8247be5f9763670ea981">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-14T16:00:00</start_at>
    <end_at>2026-03-14T19:20:00</end_at>
  </event>
  <event identifier="gd3f485e5c42dc96df8a6ca18529c535d">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-20T18:00:00</start_at>
    <end_at>2026-02-20T19:00:00</end_at>
  </event>
  <event identifier="g2b2762612c82810489fa580a429b34cc">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-30T18:00:00</start_at>
    <end_at>2026-01-30T19:00:00</end_at>
  </event>
  <event identifier="g8b37fa83935e80f26be2aed24b1cec19">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-05-01T17:00:00</start_at>
    <end_at>2026-05-01T18:00:00</end_at>
  </event>
  <event identifier="gd670543f3eaf4bfe15f70522c44dda20">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-17T17:00:00</start_at>
    <end_at>2026-01-17T19:00:00</end_at>
  </event>
  <event identifier="g25c4ac75549d7775e2cca02ee8619e83">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-07T17:00:00</start_at>
    <end_at>2026-02-07T19:00:00</end_at>
  </event>
  <event identifier="g9f067eac8a97e2aa4b57768139c2df8e">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-16T18:00:00</start_at>
    <end_at>2026-01-16T19:00:00</end_at>
  </event>
  <event identifier="g0c0ca597b8d48b6a1b7a55851c34dafc">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-06T18:00:00</start_at>
    <end_at>2026-02-06T19:00:00</end_at>
  </event>
  <event identifier="g30055616e35a375bf523d9dec7bc1763">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-25T16:00:00</start_at>
    <end_at>2026-04-25T19:20:00</end_at>
  </event>
  <event identifier="g54deca7eda77b7728b795d3672735255">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-23T18:00:00</start_at>
    <end_at>2026-01-23T19:00:00</end_at>
  </event>
  <event identifier="g4a84441b2e28de69a2c8d2bda1bd4e1e">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-07T17:00:00</start_at>
    <end_at>2026-03-07T20:20:00</end_at>
  </event>
  <event identifier="g04965496f805b19e937633bd0e7ea12f">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-24T17:00:00</start_at>
    <end_at>2026-04-24T18:00:00</end_at>
  </event>
  <event identifier="g0e6b596cc90bcada21c5bd0817bc464a">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-27T18:00:00</start_at>
    <end_at>2026-02-27T19:00:00</end_at>
  </event>
  <event identifier="g224a29b7f4bfc8f59db7b4f8101344d7">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-04T16:00:00</start_at>
    <end_at>2026-04-04T18:00:00</end_at>
  </event>
  <event identifier="g30925858ac99e22f6a24d8398187279e">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-11T16:00:00</start_at>
    <end_at>2026-04-11T19:20:00</end_at>
  </event>
  <event identifier="g5e3cc5f43ded52814dd05760114f6e1d">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-21T17:00:00</start_at>
    <end_at>2026-02-21T20:20:00</end_at>
  </event>
  <event identifier="g126cc11b895bc1956763b6bea3ba548f">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-10T17:00:00</start_at>
    <end_at>2026-04-10T18:00:00</end_at>
  </event>
  <event identifier="g2bed6f97a4f53188c4ca17e6d8567215">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-17T17:00:00</start_at>
    <end_at>2026-04-17T18:00:00</end_at>
  </event>
  <event identifier="geecd3596264b88e27459f2e7fdd388aa">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-10T17:00:00</start_at>
    <end_at>2026-01-10T20:20:00</end_at>
  </event>
  <event identifier="g425f295c23b08c36da303a6b9fab9758">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-06T18:00:00</start_at>
    <end_at>2026-03-06T19:00:00</end_at>
  </event>
  <event identifier="g2f4c60ed34f7d33e77c338b6e31134ce">
    <title>INFO7375 ST: Branding and AI: Speaker Series</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/92710545738?pwd=DoIn2w725fjrJWuXpDaKQTY1ndMEMl.1" target="_blank"&gt;Click here to join Zoom Meeting: 927 1054 5738&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-07T17:00:00</start_at>
    <end_at>2026-03-07T19:00:00</end_at>
  </event>
  <event identifier="g7288df65aa38d1359e9d729bf2532073">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-05-09T16:00:00</start_at>
    <end_at>2026-05-09T19:20:00</end_at>
  </event>
  <event identifier="g445c1e48917b94094c1742593ad0da77">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-07T17:00:00</start_at>
    <end_at>2026-02-07T20:20:00</end_at>
  </event>
  <event identifier="g28ff3f0c419c03a3de50e2f9aba884e2">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-04-04T16:00:00</start_at>
    <end_at>2026-04-04T19:20:00</end_at>
  </event>
  <event identifier="g55a9d2c02ea56945a3996656b0bd35ed">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-31T17:00:00</start_at>
    <end_at>2026-01-31T20:20:00</end_at>
  </event>
  <event identifier="gfb3cfb2752519c40a7826d3c86602e1d">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-13T18:00:00</start_at>
    <end_at>2026-02-13T19:00:00</end_at>
  </event>
  <event identifier="ge8aad23447ea114d546b73789ee50415">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-01-17T17:00:00</start_at>
    <end_at>2026-01-17T20:20:00</end_at>
  </event>
  <event identifier="g0e6db4221733845b9a7539f406ad260b">
    <title>INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93229181753?pwd=hXje31T45VKiBrVl4Fc5O7TT57JIwk.1" target="_blank"&gt;Click here to join Zoom Meeting: 932 2918 1753&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-02-14T17:00:00</start_at>
    <end_at>2026-02-14T20:20:00</end_at>
  </event>
  <event identifier="g993adcaf176718561a52a0b307980485">
    <title>Prof. Nina - Office Hours - INFO7375 37286 ST: Branding and AI SEC 05 Spring 2026</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/95456186879?pwd=X7x9fbSVpeWNxvFKzrYa6sK9LvpzQ5.1" target="_blank"&gt;Click here to join Zoom Meeting: 954 5618 6879&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-03-27T17:00:00</start_at>
    <end_at>2026-03-27T18:00:00</end_at>
  </event>
  <event identifier="g5353d948796ece0c27265cedcd36e637">
    <title>Speakers Series - INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93443607843?pwd=9Rq7lb66abvaH8VUsJj8wR4kECaBgL.1" target="_blank"&gt;Click here to join Zoom Meeting: 934 4360 7843&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-05-09T16:00:00</start_at>
    <end_at>2026-05-09T18:00:00</end_at>
  </event>
  <event identifier="g608902da6a7e7806bf53da9a160d033b">
    <title>Speakers Series - INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93443607843?pwd=9Rq7lb66abvaH8VUsJj8wR4kECaBgL.1" target="_blank"&gt;Click here to join Zoom Meeting: 934 4360 7843&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-05-16T16:00:00</start_at>
    <end_at>2026-05-16T18:00:00</end_at>
  </event>
  <event identifier="gde1f50eb441d4c7c31545b2e4460caa1">
    <title>Speakers Series - INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93443607843?pwd=9Rq7lb66abvaH8VUsJj8wR4kECaBgL.1" target="_blank"&gt;Click here to join Zoom Meeting: 934 4360 7843&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-05-23T16:00:00</start_at>
    <end_at>2026-05-23T18:00:00</end_at>
  </event>
  <event identifier="geea1c33daa37a827cfe592e5691ca09e">
    <title>Speakers Series - INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93443607843?pwd=9Rq7lb66abvaH8VUsJj8wR4kECaBgL.1" target="_blank"&gt;Click here to join Zoom Meeting: 934 4360 7843&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-05-30T16:00:00</start_at>
    <end_at>2026-05-30T18:00:00</end_at>
  </event>
  <event identifier="g5f72298e1bec56184fb857be642dc41f">
    <title>Speakers Series - INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93443607843?pwd=9Rq7lb66abvaH8VUsJj8wR4kECaBgL.1" target="_blank"&gt;Click here to join Zoom Meeting: 934 4360 7843&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-06-06T16:00:00</start_at>
    <end_at>2026-06-06T18:00:00</end_at>
  </event>
  <event identifier="g722286a6f98d7de757662356dbed764d">
    <title>Speakers Series - INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93443607843?pwd=9Rq7lb66abvaH8VUsJj8wR4kECaBgL.1" target="_blank"&gt;Click here to join Zoom Meeting: 934 4360 7843&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-06-13T16:00:00</start_at>
    <end_at>2026-06-13T18:00:00</end_at>
  </event>
  <event identifier="gf2a6bd84eb0799b2d8ea789c8724c270">
    <title>Speakers Series - INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93443607843?pwd=9Rq7lb66abvaH8VUsJj8wR4kECaBgL.1" target="_blank"&gt;Click here to join Zoom Meeting: 934 4360 7843&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-06-20T16:00:00</start_at>
    <end_at>2026-06-20T18:00:00</end_at>
  </event>
  <event identifier="gc6358ec65c571313c3d8afe6d11023e8">
    <title>Speakers Series - INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93443607843?pwd=9Rq7lb66abvaH8VUsJj8wR4kECaBgL.1" target="_blank"&gt;Click here to join Zoom Meeting: 934 4360 7843&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-06-27T16:00:00</start_at>
    <end_at>2026-06-27T18:00:00</end_at>
  </event>
  <event identifier="g59eed2cc04662c00d10e4456488cf375">
    <title>Speakers Series - INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93443607843?pwd=9Rq7lb66abvaH8VUsJj8wR4kECaBgL.1" target="_blank"&gt;Click here to join Zoom Meeting: 934 4360 7843&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-07-04T16:00:00</start_at>
    <end_at>2026-07-04T18:00:00</end_at>
  </event>
  <event identifier="g785728f0144ebb3a0d7f154c49c0c623">
    <title>Speakers Series - INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93443607843?pwd=9Rq7lb66abvaH8VUsJj8wR4kECaBgL.1" target="_blank"&gt;Click here to join Zoom Meeting: 934 4360 7843&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-07-11T16:00:00</start_at>
    <end_at>2026-07-11T18:00:00</end_at>
  </event>
  <event identifier="gdc2b26b2c5bf88d1328c03c21dd2ceba">
    <title>Speakers Series - INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93443607843?pwd=9Rq7lb66abvaH8VUsJj8wR4kECaBgL.1" target="_blank"&gt;Click here to join Zoom Meeting: 934 4360 7843&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-07-18T16:00:00</start_at>
    <end_at>2026-07-18T18:00:00</end_at>
  </event>
  <event identifier="g9501bf39615a81117fc2e33a04cd609c">
    <title>Speakers Series - INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93443607843?pwd=9Rq7lb66abvaH8VUsJj8wR4kECaBgL.1" target="_blank"&gt;Click here to join Zoom Meeting: 934 4360 7843&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-07-25T16:00:00</start_at>
    <end_at>2026-07-25T18:00:00</end_at>
  </event>
  <event identifier="gf37a777055c6dd701e7ca4252f2d31b4">
    <title>Speakers Series - INFO7375 54614 ST: Branding and AI SEC 05 Summer 2026 [VTL-1-OL]</title>
    <description>&lt;p&gt;&lt;a href="https://northeastern.zoom.us/j/93443607843?pwd=9Rq7lb66abvaH8VUsJj8wR4kECaBgL.1" target="_blank"&gt;Click here to join Zoom Meeting: 934 4360 7843&lt;/a&gt;&lt;/p&gt;</description>
    <start_at>2026-08-01T16:00:00</start_at>
    <end_at>2026-08-01T18:00:00</end_at>
  </event>
</events>
